/*login CSS*/

*{
	/*outline: 1px dotted red;*/
	margin: 0px;
    padding: 0px;
    border: 0px;
}

#wrapper
{
	width: 800px;
	margin: 0 auto;
}

#loginImg{
	width: 800px;
}

#loginHolder{
	position: relative 400px -400px;
	background: #000000;
	margin: -10px auto;
}
