<!DOCTYPE html>
<html>
<head>
	<title>PacMan Login Screen</title>
</head>
<body>
	<form action="/login/results" method="post">
		<input type="text" name="playerName" placeholder="enter player name">
		<input type="submit" value="submit">
	</form>
</body>
</html>